<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

<script src="https://unpkg.com/vue@latest"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ message }}</h1>
      <div>
        <label for="goal">Goal</label>
        <input type="text" id="goal" v-model="enteredValue"/>
        <button v-on:click="addGoal">Add Goal</button>
      </div>
      <ul>
        <li v-for="goal in goals">{{ goal }}</li>
      </ul>
      <b-button variant="primary">Primary Button</b-button>
      <!-- <thead>
        <tr>
            <th>ANTRAG-NR.</th>
            <th>BESCHREIBUNG</th>
            <th>DATUM</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="antrag in antraege" :key="antrag.antragID">
            <td>{{ antrag }}</td>
            <td>{{ antrag.beschreibung }}</td>
            <td>{{ antrag.erstellDatum }}</td>
            <td>
                <button class="tablebutton"><i class="fa-solid fa-eye"></i></button>
            </td>
        </tr>
    </tbody> -->
    </div>
    <script src="https://unpkg.com/vue@3.4.15/dist/vue.global.js"></script>
    <script type="module" src="app.js"></script>
  </body>
</html>
